@using MetopeMVCApp.Utitlity.Extensions
@model MetopeMVCApp.Models.Debt_Expiry_Profile  

<div class="col-md-12">
    <div class="form-group">
        @Html.LabelFor(model => model.Party_Code, htmlAttributes: new { @class = "control-label col-md-1 input-sm ", style = "text-align: left" })
        <div class="col-md-5">
            @Html.DropDownList("Party_Code", null, string.Empty, new { @class = "form-control", style = "max-width:40%;" })

            @Html.ValidationMessageFor(model => model.Party_Code, "", new { @class = "text-danger" })
        </div>
    </div>
</div> 
   
<div class="col-md-12">
    @Html.EditorFor(model => model.Financial_Year_End, "BootstrapEditDateVertic")
</div>
 
<div class="col-md-12">
    @Html.EditorFor(model => model.Expiring_Debt_Amount, "BootstrapEditorVertic")
</div>  
<div class="form-group">

    <div class=" col-md-9">
        <br />
        <input type="submit" value="Save" class="btn btn-primary" />  |  @Html.ActionLink("Cancel", "Index")
    </div>
</div>

  