@model Metope.DAL.Security_Classification_Industry 
 
@Html.EditorFor(model => model.Effective_Date, "BootstrapEditDateVertic", new { MeDisabled = ViewBag.MeDisabled })


<div class="form-group">
    @Html.LabelFor(model => model.Classification_Code, htmlAttributes: new { @class = "control-label col-md-2  input-sm " })
    <div class="col-md-10">
         @if (ViewBag.MeDisabled == "readonly")
        {
            @Html.DropDownList("Classification_Code", null, string.Empty, new
            {
                @class = "form-control",
                @readonly = "readonly",
                disabled = "disabled" 
            })
        } 
        else
        {
              @Html.DropDownListFor(m => m.Classification_Code, null,
                                           "", new
                                           {
                                               @class = "form-control",
                                               @id = "ddClassification_Code" 
                                           }) 
         }

        @Html.ValidationMessageFor(model => model.Classification_Code, "", new { @class = "text-danger" })
    </div>

</div>


<div class="form-group">
    @Html.LabelFor(model => model.Industry_Code, htmlAttributes: new { @class = "control-label col-md-2 input-sm ", style = "text-align: right" })
    <div class="col-md-10">
        @if (ViewBag.MeDisabled == "readonly")
        {
            @Html.DropDownList("Industry_Code", null, string.Empty, new
            {
                @class = "form-control",
                @readonly = "readonly",
                disabled = "disabled"
            })
        }
        else
        {
            @Html.DropDownListFor(m => m.Industry_Code, null, "", 
                                 new { @id = "ddIndustry_Code", @class = "form-control" }) 
        }

        @*@Html.DropDownList("Industry_Code", null, string.Empty, new { @class = "form-control" })*@
        @Html.ValidationMessageFor(model => model.Industry_Code, "", new { @class = "text-danger" })
    </div>
</div>
@*@Html.EditorFor(model => model.Expiring_Debt_Amount, "BootstrapEditDecimalVertic") 
@Html.EditorFor(model => model.Excess_Weight_Quarterly, "BootstrapEditDecimal8PlacesVertic", new { setLength = "Longer" })*@


 