@model Metope.DAL.Security_Performance_History
@Html.HiddenFor(model => model.Last_Update_Date)
@Html.HiddenFor(model => model.Last_Update_User)
<div class="form-group">
    @Html.LabelFor(model => model.Security_ID, htmlAttributes: new { @class = "control-label col-md-2  input-sm " })
    <div class="col-md-10">

        @if (ViewBag.MeDisabled == "readonly")
        {
            @Html.DropDownList("Security_ID", (SelectList)ViewBag.Securities_All, string.Empty, new
                           {
                               @class = "form-control",
                               @readonly = "readonly",
                               disabled = "disabled"
                           })
        }
        else
        {
            @Html.DropDownList("Security_ID", (SelectList)ViewBag.Securities_All, string.Empty, new { @class = "form-control" })
        }

        @Html.ValidationMessageFor(model => model.Security_ID, "", new { @class = "text-danger" })
    </div>
</div>
@Html.EditorFor(model => model.ModDietz_Performance_Quarterly, "BootstrapEditDecimal8PlacesVertic", new { setLength = "Longer" })
@Html.EditorFor(model => model.ModDietz_Performance_Monthly, "BootstrapEditDecimal8PlacesVertic", new { setLength = "Longer" })
@Html.EditorFor(model => model.ModDietz_Performance_MonthToDate, "BootstrapEditDecimal8PlacesVertic", new { setLength = "Longer" })

@Html.EditorFor(model => model.Dietz_Performance_Quarterly, "BootstrapEditDecimal8PlacesVertic", new { setLength = "Longer" })
@Html.EditorFor(model => model.Dietz_Performance_Monthly, "BootstrapEditDecimal8PlacesVertic", new { setLength = "Longer" })
@Html.EditorFor(model => model.Dietz_Performance_MonthToDate, "BootstrapEditDecimal8PlacesVertic", new { setLength = "Longer" })
@Html.Partial("_SaveButtonShow", Model) 
<div>
    @*@Html.ActionLink("Back to List", "Index")*@
    @Html.ActionLink("Go Back", null, null, null, new { href = Request.UrlReferrer })
</div>