@model Metope.DAL.Security_Analytics

@{
    ViewBag.Title = "Delete";
} 

<h1>Delete Confirmation</h1>
<h2>Are you sure you want to delete this <b>Security Analytic record</b>?</h2>
<div>
    <h3>for Security <b>@Html.DisplayFor(model => model.Security_Detail.Security_Name)</b></h3>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Security_Detail.Security_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Security_Detail.Security_Name)
        </dd> 
    </dl>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
