@model Metope.DAL.Security_Performance_History 

@{
    ViewBag.Title = "Delete";
}

<h1>Delete Confirmation</h1>
<h2>Are you sure you want to delete this Security Performance History record?</h2>
<div>
    <h4>
        for Portfolio <b>@Html.DisplayFor(model => model.Portfolio_Code)</b>
        Security <b>@Html.DisplayFor(model => model.Security_Detail.Ticker)</b>
    </h4>
    <h4>
        Record Date <b>@Html.DisplayFor(model => model.Record_Date)</b> 
    </h4>
    <hr />
    <dl class="dl-horizontal"> 

        <dt>
            @Html.DisplayNameFor(model => model.Security_Detail.Security_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Security_Detail.Security_Name)
        </dd>  
        <dt>
            @Html.DisplayNameFor(model => model.ModDietz_Performance_Quarterly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModDietz_Performance_Quarterly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModDietz_Performance_Monthly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModDietz_Performance_Monthly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModDietz_Performance_MonthToDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModDietz_Performance_MonthToDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dietz_Performance_Quarterly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dietz_Performance_Quarterly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dietz_Performance_Monthly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dietz_Performance_Monthly)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Dietz_Performance_MonthToDate)
        </dd> 


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Go Back", null, null, null, new { href = Request.UrlReferrer })
        </div>
    }
</div>
