@model Metope.DAL.Entity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Entity</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Entity_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entity_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entity_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entity_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Import_Folder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Import_Folder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Export_Folder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Export_Folder)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Entity_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
