@model MetopeMVCApp.Models.Portfolio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Portfolio</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Portfolio_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Portfolio_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Portfolio_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Portfolio_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Portfolio_Base_Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Portfolio_Base_Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PortfolIo_Domicile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PortfolIo_Domicile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Portfolio_Report_Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Portfolio_Report_Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inception_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inception_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Financial_Year_End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Financial_Year_End)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Custodian_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Custodian_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active_Flag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active_Flag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.System_Locked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.System_Locked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entity.Entity_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entity.Entity_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.User_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.User_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
