@model MetopeMVCApp.Models.Portfolio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="form-group row">
    <div class="col-md-3 control-label">
        @Html.LabelFor(model => model.Portfolio_Name)
    </div>
    <div class="col-md-9">
        @Model.Portfolio_Name
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3 control-label">
        @Html.LabelFor(model => model.Portfolio_Type)
    </div>
    <div class="col-md-9">
        @Model.Portfolio_Type
    </div>
</div>

<div class="form-group row">
    <div class="col-md-3 control-label">
        @Html.LabelFor(model => model.Portfolio_Code)
    </div>
    <div class="col-md-9">
        @Model.Portfolio_Code
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3 control-label">
        @Html.LabelFor(model => model.Portfolio_Base_Currency)
    </div>
    <div class="col-md-9">
        @Model.Portfolio_Base_Currency
    </div>
</div>

<div class="form-group row">
    <div class="col-md-3 control-label">
        @Html.LabelFor(model => model.PortfolIo_Domicile)
    </div>
    <div class="col-md-9">
        @Model.PortfolIo_Domicile
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3 control-label">
        @Html.LabelFor(model => model.Portfolio_Report_Currency)
    </div>
    <div class="col-md-9">
        @Model.Portfolio_Report_Currency
    </div>
</div>

<div class="form-group row">
    <div class="col-md-3 control-label">
        @Html.LabelFor(model => model.Inception_Date)
       
    </div>
    <div class="col-md-9"> 
        @String.Format("{0:d MMM yyyy}", @Model.Inception_Date)
        
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3 control-label">
        @Html.LabelFor(model => model.Portfolio_Type)
    </div>
    <div class="col-md-9">
        @Model.Portfolio_Type
    </div>
</div>

<div class="form-group row">
    <div class="col-md-3 control-label">
        @Html.LabelFor(model => model.Financial_Year_End)
    </div>
    <div class="col-md-9">  
        @Html.DisplayFor(model => model.Financial_Year_End)
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3 control-label">
        @Html.LabelFor(model => model.Active_Flag)
    </div>
    <div class="col-md-9">
        @Html.DisplayFor(model => model.Active_Flag)
    </div>
</div>

<div class="form-group row">
    <div class="col-md-3 control-label">
        @Html.LabelFor(model => model.System_Locked)
    </div>
    <div class="col-md-9">
        @Html.DisplayFor(model => model.System_Locked )
    </div>
</div>

<div class="form-group row">
    <div class="col-md-3 control-label">
        @Html.LabelFor(model => model.User.User_Name)
    </div>
    <div class="col-md-9">
        @Model.User.User_Name

    </div>
</div>
  
<p>
    @Html.ActionLink("Edit", "Edit", new { EntityId = Model.Entity_ID, PortfolioCode = Model.Portfolio_Code }) |
    @Html.ActionLink("Back to List", "Index") 

</p>
