 
@model Metope.DAL.Portfolio

@{
    ViewBag.Title = "Edit";
}
 @section Styles {
    @Styles.Render("~/Content/datetime")
}
<h4></h4>
<h3>Editing Portfolio <b> @Model.Portfolio_Name </b></h3>
<hr />

@*<div class="panel panel-primary ">
    @*<div class="panel-heading panel-head ">Editing : Portfolio Code <b>  @Model.Portfolio_Code </b></div>
    <div class="panel-body  ">*@

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(false)
                @Html.ValidationMessage("Error")

                @Html.HiddenFor(model => model.Entity_ID)
                @Html.HiddenFor(model => model.Portfolio_Code)
                @Html.EditorForModel()
            </div>
        }   
@section Scripts { 
    @Scripts.Render("~/bundles/datetime")
}

   @*<script type="text/javascript">
    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        $('.date-picker').datepicker();
    })
</script>*@

 

