@model MetopeMVCApp.Models.Portfolio

@{
    ViewBag.Title = "Edit";
}
 <h4></h4>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Editing : Portfolio Code <b>  @Model.Portfolio_Code </b></div>
    <div class="panel-body">
          
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal"> 
                @Html.ValidationSummary(false)
                @Html.ValidationMessage("Error")

                @Html.HiddenFor(model => model.Entity_ID) 
                @Html.HiddenFor(model => model.Portfolio_Code)
                @Html.EditorForModel() 
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
