@model IEnumerable<MetopeMVCApp.Models.Portfolio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Portfolio_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Portfolio_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Portfolio_Base_Currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PortfolIo_Domicile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Portfolio_Report_Currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inception_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Financial_Year_End)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Custodian_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active_Flag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.System_Locked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entity.Entity_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.User_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Portfolio_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Portfolio_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Portfolio_Base_Currency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PortfolIo_Domicile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Portfolio_Report_Currency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inception_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Financial_Year_End)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Custodian_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active_Flag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.System_Locked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Entity.Entity_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.User_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
