@model IEnumerable<MetopeMVCApp.Models.Portfolio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="row">
    <div class="col-md-8">
        @Html.ActionLink("Create New", "Create")
     </div>
        <div class="col-md-4">

            <form method="get">
                <input type="search" name="searchTerm" class="btn btn-default" />
                <input type="submit" name="Search by Port name" class="btn btn-default" />
            </form>

        </div>
    </div>

 
        @if (TempData["ResultMessage"] != null)
        {
            <div class="alert alert-success alert-dismissable">
                <button class="close" data-dismiss="alert">&times;</button>
                @TempData["ResultMessage"]
            </div>
        } 
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Portfolio_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Portfolio_Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Portfolio_Base_Currency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PortfolIo_Domicile)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Portfolio_Report_Currency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inception_Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Financial_Year_End)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Custodian_Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active_Flag)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.System_Locked)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Entity.Entity_Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.User_Name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Portfolio_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Portfolio_Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Portfolio_Base_Currency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PortfolIo_Domicile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Portfolio_Report_Currency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inception_Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Financial_Year_End)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Custodian_Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active_Flag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.System_Locked)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Entity.Entity_Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.User_Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { EntityId = item.Entity_ID, PortfolioCode = item.Portfolio_Code }) |
                        @Html.ActionLink("Details", "Details", new { EntityId = item.Entity_ID, PortfolioCode = item.Portfolio_Code }) |
                        @Html.ActionLink("Delete", "Delete", new { EntityId = item.Entity_ID, PortfolioCode = item.Portfolio_Code })
                    </td>
                </tr>
            }

        </table>
