@model Metope.DAL.Security_Dividend_Detail

@{
    ViewBag.Title = "Edit";
}
@section Styles {
    @Styles.Render("~/Content/datetime")
}
 
<h3>
    Edit Dividend Details  
    @if (Model.Security_Detail != null)  
    {   <span>for @Model.Security_Detail.Security_Name</span>  }
    else
    {  <span><b> @Model.Security_ID </b></span> }                                                             

</h3> 

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Dividend Sequence: <b>@Model.Dividend_Seq_Number </b></h4> 
        <hr />
        @Html.ValidationSummary(false)
        @Html.HiddenFor(model => model.Entity_ID)

        @Html.HiddenFor(model => model.Security_ID) 
        @Html.HiddenFor(model => model.Dividend_Seq_Number) 
        @Html.EditorForModel("Security_Dividend_DetailVert") 
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datetime") 

    <script> 
        $(function () {
            checkSelection();
        });
        function checkSelection() { 
            var selectedItem = $('#Dividend_Type').val(); 
            if (selectedItem == "S" || selectedItem == "E") {
                $("#showDivtype").hide();
            } else  {
                $("#showDivtype").show();
            }
        }; 
    </script> 
} 
 
