@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        @if (HttpContext.Current.Application["TestMode"].ToString() == "Y")
        {
            <li>
                <a href="#"><span class="text-warning">@Html.Action("ShowTestMode", "Home") </span>  </a> 
            </li>
        }
        <li >
            <a href="#" ><span class="text-danger">@Html.Action("EntityInScope", "Home") </span>  </a> 
        </li>
        
        <li>
            @Html.ActionLink("'sup " + User.Identity.GetUserName() , "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
   
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Components
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Portfolios", "Index", "Portfolio")</li>
                <li>@Html.ActionLink("Portfolio Valuations", "Index", "PortfolioValuation")</li>
                
                <li>@Html.ActionLink("Securities", "Index", "SecurityDetail")</li>
                <li>@Html.ActionLink("Security Analytics", "Index", "SecurityAnalytics")</li>
                <li>@Html.ActionLink("Security Prices", "Index", "SecurityPrice")</li>
                <li>@Html.ActionLink("Security Lists", "Index", "SecurityListDetail")</li> 
                <li class="divider"></li>
                
                <li class="dropdown-submenu">
                    <a class="test" tabindex="-1" href="#">Party <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Parties", "Index", "Party")</li>
                        <li>@Html.ActionLink("Party Financials", "Index", "PartyFinancials")</li>
                        <li>@Html.ActionLink("Party Debt Analysis", "Index", "PartyDebtAnalysis")</li> 
                        <li>@Html.ActionLink("Debt Expiry Profile", "Index", "DebtExpiryProfile")</li> 
                        <li class="dropdown-submenu">
                          
                        </li>
                    </ul>
                </li>
                @*<li><a href="#">Other</a></li>*@
            </ul>
        </li>


<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @if (User.IsInRole("Admin"))
        {
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
   
        }
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink"})</li>
    </ul>
}


 
