@model MetopeMVCApp.Models.Custom.MyError


@{
    ViewBag.Title = Model.StatusCode;
}

<h1 class="error">@Model.StatusCode</h1>
<h3 class="text-danger">An error occurred whilst processing your request. Contact support.</h3>
@Model.StatusDescription. (@Model.DateTime)<br />


@Html.ActionLink("Go Back", null, null, null, new { href = Request.UrlReferrer }) 
<div>
    <img id="progress" src="~/Content/img/404-AB-Failure-image.gif" />
    @Model.Message<br />

</div>