@model IEnumerable<MetopeMVCApp.Models.Entity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData["ResultMessage"] != null)
{
    <div class="alert alert-success alert-dismissable">
        <button class="close" data-dismiss="alert">&times;</button>
        @TempData["ResultMessage"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Entity_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entity_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Import_Folder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Export_Folder)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Entity_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Entity_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Import_Folder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Export_Folder)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Entity_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Entity_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Entity_ID })
        </td>
    </tr>
}

</table>
