@model MetopeMVCApp.Models.Party

@{
    ViewBag.Title = "Create Party";
}
@section Styles {
    @Styles.Render("~/Content/datetime")
}
<h3>Create Party</h3>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(false)
        @Html.ValidationMessage("Error") 
           
         @Html.EditorFor(model => model.Party_Code, "BootstrapEditorVertic")
 
        @Html.EditorForModel()
    </div> 
} 
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datetime")
}
