@model Metope.DAL.Cash_Transactions

@{
    ViewBag.Title = "Create";
}
@section Styles {
@Styles.Render("~/Content/GridMvc")
@Styles.Render("~/Content/datetime")
} 
<h2>Create Cash Transaction for <b>@ViewBag.myPortfolioCode</b></h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(false)
        @Html.ValidationMessage("Error") 
        @Html.HiddenFor(model => model.Entity_ID)
        <div class="form-group">
            @Html.LabelFor(model => model.Portfolio_Code, htmlAttributes: new { @class = "control-label col-md-2 input-sm" })
            <div class="col-md-10"> 
                @Html.DropDownList("Portfolio_Code", null, string.Empty, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Portfolio_Code, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.EditorForModel()
        @*@Html.EditorFor(model => model.Create_User_Code, "BootstrapEditorVertic")*@
        <div class="form-group">
            @Html.LabelFor(model => model.Create_User_Code, htmlAttributes: new { @class = "control-label col-md-2 input-sm" })
            <div class="col-md-10">
                @Html.DropDownList("Create_User_Code", null, string.Empty, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Create_User_Code, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.Partial("_SaveButtonShow", Model)
    </div> 
}  

<div> 
    @Html.ActionLink("Go Back", null, null, null, new { href = Request.UrlReferrer })
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datetime")
}