@model MetopeMVCApp.Models.SecurityPriceEditModel 
@{
    ViewBag.Title = "Edit";  
} 
@section Styles {
    @Styles.Render("~/Content/datetime")
} 
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal"> 

        <h3>Editing Security <b> @Model.Security_Name </b>  Price Currency <b>  @Model.Price_Curr</b></h3>
        <hr /> 

        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Entity_ID) 
        @Html.HiddenFor(model => model.Security_ID) 
        @Html.HiddenFor(model => model.Price_Curr) 

        <div class="col-md-12 col-lg-offset-0">
            @Html.EditorFor(model => model.Record_Date, "BootstrapEditDate")
            @Html.ValidationMessageFor(model => model.Record_Date, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.All_In_Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.All_In_Price, "{0:0.##########}", new
                {
                    @class = "form-control col-md-2",
                    placeholder = ViewData.ModelMetadata.Watermark
                }) 
                @Html.ValidationMessageFor(model => model.All_In_Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Clean_Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.Clean_Price, "{0:0.##########}", new
                {
                    @class = "form-control col-md-2",
                    placeholder = ViewData.ModelMetadata.Watermark
                }) 
                 
                @Html.ValidationMessageFor(model => model.Clean_Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Accrued_Income_Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.Accrued_Income_Price, "{0:0.##########}", new
                {
                    @class = "form-control col-md-2",
                    placeholder = ViewData.ModelMetadata.Watermark
                }) 
                @Html.ValidationMessageFor(model => model.Accrued_Income_Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price_Source, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Price_Source, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price_Source, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Yield_To_Maturity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.Yield_To_Maturity, "{0:0.##########}", new
                {
                    @class = "form-control col-md-2",
                    placeholder = ViewData.ModelMetadata.Watermark
                })
                 
                @Html.ValidationMessageFor(model => model.Yield_To_Maturity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Discount_Rate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.Discount_Rate, "{0:0.##########}", new
                {
                    @class = "form-control col-md-2",
                    placeholder = ViewData.ModelMetadata.Watermark
                }) 
                @Html.ValidationMessageFor(model => model.Discount_Rate, "", new { @class = "text-danger" })
            </div>
        </div> 
 
        <div class="form-group">
            @Html.LabelFor(model => model.Issued_Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Issued_Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Issued_Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Free_Float_Issued_Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Free_Float_Issued_Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Free_Float_Issued_Amount, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.Partial("_SaveButtonShow", Model)
          
        @*<div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>*@
    </div>

    
}

<div class="col-md-offset-0 "> 
    @Html.ActionLink("Go Back", null, null, null, new { href = Request.UrlReferrer })
</div>
 @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datetime")
}