@*@model IEnumerable<MetopeMVCApp.Models.Security_Price>*@
@model  MetopeMVCApp.Models.SecurityPriceIndexViewModel


@{
    ViewBag.Title = "Index";
} 
<br />


@if (Model.SecurityDetails != null)
{
    @*<h3>
        Security <span><b>@Model.SecurityDetails.Security_Name</b> </span>
    </h3>*@
    <container>
        <div class="   col-md-3">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Security Ticker  
                    </h3>
                </div>
                <div class="panel-body">
                    @Model.SecurityDetails.Ticker
                </div>
            </div>
        </div>
          <div class="   col-md-3">
                <div class="panel panel-default ">
                    <div class="panel-heading">
                        <h3 class="panel-title"> 
                            Security Type 
                            
                        </h3>
                    </div> 
                    <div class="panel-body">
                        @Model.SecurityDetails.Security_Type_Code
                    </div>
                </div>
            </div>
        <div class="   col-md-3">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                   
                        Price Exchange  
                    </h3>
                </div>
                <div class="panel-body">
                    @Model.SecurityDetails.Price_Exchange
                </div>
            </div>
        </div>
        <div class="   col-md-3">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                 
                        Security ID 
                    </h3>
                </div>
                <div class="panel-body">
                    @Model.SecurityDetails.Security_ID
                </div>
            </div>
        </div>
</container>
}


@*<table class="table">
    <tr>
        <th>AllIn Price</th>
        <th>Clean_Price</th>
        <th>Price Sourc</th>
        <th>Yield_To Maturity</th>
        <th>Discount Rate</th>
        <th>Last UpdateDate</th>
        <th>Record Date</th>
        <th>Security Name</th>
        <th></th>

    </tr>
    @foreach (var item in Model.SecurityDetails)
    {
        string selectedRowSD = "";
        if (item.Security_ID == ViewBag.SecurityID )
        {
            selectedRowSD = "success";
        }
        <tr class="@selectedRowSD">
            <td>
                @Html.DisplayFor(modelItem => item.Ticker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Security_Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Current_Market_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Security_ID)
            </td> 

            <td>
                @Html.ActionLink("Select", "Index", new { SecurityId = item.Security_ID, iEntityId = item.Entity_ID  }) |
            </td>
        </tr>
    }

</table>*@ 
@*-----------------------------------------SEUCRITY PRICES : -------------------------------------------*@
  <h3>
   Security Prices.
</h3>
<table class="table">
    <tr>
        <th>AllIn Price</th>
        <th>Clean_Price</th>
        <th>Price Sourc</th>
        <th>Yield_To Maturity</th>
        <th>Discount Rate</th>
        <th>Last UpdateDate</th>
        <th>Record Date</th>
        <th>Security Name</th>
        <th></th>
          
    </tr> 
@foreach (var item in Model.SecurityPrices)
{
    string selectedRow = "";
    if (item.Security_ID == ViewBag.SecurityID && item.Price_Curr == ViewBag.PriceCurr)
    {
        selectedRow = "success";
    }
    <tr class="@selectedRow">
        <td>
            @Html.DisplayFor(modelItem => item.All_In_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clean_Price)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Price_Source)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yield_To_Maturity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount_Rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Last_Update_Date)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Record_Date)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Security_Detail.Security_Name)
        </td>

        <td> 
            @Html.ActionLink("Select", "Index", new { SecurityId = item.Security_ID, iEntityId = item.Entity_ID, iPriceCurr = item.Price_Curr }) |
            @Html.ActionLink("Edit", "Edit", new { SecurityId = item.Security_ID, iEntityId = item.Entity_ID, iPriceCurr = item.Price_Curr }) |
            @Html.ActionLink("Details", "Details", new { SecurityId = item.Security_ID, iEntityId = item.Entity_ID, iPriceCurr = item.Price_Curr }) |
            @Html.ActionLink("Delete", "Delete", new { SecurityId = item.Security_ID, iEntityId = item.Entity_ID, iPriceCurr = item.Price_Curr })
        </td>
    </tr>
}

</table>
@if (Model.SecurityPriceHistory != null)
{
    <h3>
        History for selected Security Price.
    </h3>
    if (!Model.SecurityPriceHistory.Any())
    { 
        <p>Looks like no History for that security!</p>
    }
    else
    { 

    <table class="table">
        <tr>
            <th>Date</th>
            <th>Currency</th>
            <th>All In Price</th>
            <th>Clean Price</th>
            <th>YTM</th>
            <th>Currency</th>
            <th>Discount Rate</th> 
        </tr>
        @foreach (var item in Model.SecurityPriceHistory)
        {
            <tr>
                <td>
                   @String.Format("{0:d MMM yyyy}", item.Price_DateTime) 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency.Currency_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.All_In_Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clean_Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Yield_To_Maturity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount_Rate)
                </td>
            </tr>
        }

    </table>
      }
  }