@model MetopeMVCApp.Models.Debt_Expiry_Profile

@{
    ViewBag.Title = "Edit";
}

<h3>Editing Debt Expiry Profile</h3> 

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4> Party Code: @Model.Party_Code  <br /> Financial Year: @Model.Financial_Year_End.ToString("dd MMM yyyy")   </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Party_Code)

        @Html.HiddenFor(model => model.Entity_ID)
  
        @Html.HiddenFor(model => model.Financial_Year_End)


        <div class="form-group">
            @Html.LabelFor(model => model.Expiring_Debt_Amount, htmlAttributes: new { @class = "control-label col-md-2  input-sm" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Expiring_Debt_Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Expiring_Debt_Amount, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-9">
                <input type="submit" value="Save" class="btn btn-primary" /> 
            </div> 
        </div>
        <br />
    </div>
} 
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
