@using MetopeMVCApp.Utitlity.Extensions

@model MetopeMVCApp.Models.Portfolio

@section Styles {
    @Styles.Render("~/Content/datetime")
}
@{
    ViewBag.Title = "Edit";
} 
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            
         <div class="form-horizontal">
            <h4>Portfolio</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Entity_ID)

            @Html.HiddenFor(model => model.Portfolio_Code)
                   <div id="rootwizard">
                        <!-- Tabstrip -->
                        <div class="navbar">
                            <div class="navbar-inner">
                                <div class="container">

                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#personal" role="tab" data-toggle="tab">Yo1u</a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#hobbies" role="tab" data-toggle="tab">Hobbies</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div>
                        </div>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane  active" id="personal">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Portfolio_Name, new { @class = "control-label col-md-2 " })
                                    <div class="col-md-4  input-group-sm">
                                        @Html.TextBoxFor(model => model.Portfolio_Name, new { @class = "form-control ", placeholder = "Enter the Portfolio name here..." })
                                        @Html.ValidationMessageFor(model => model.Portfolio_Name)
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="hobbies">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Inception_Date, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">

                                        <div class='input-group date datetimepickerClass'>

                                            @Html.TextBox("Inception_Date", Model.Inception_Date.ToCustomDateString(), new { @class = "form-control input-sm" })

                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Inception_Date)

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab3">
                                3
                            </div>
                            <div class="tab-pane" id="tab4">
                                4
                            </div>
                            <div class="tab-pane" id="tab5">
                                5
                            </div>
                            <div class="tab-pane" id="tab6">
                                6
                            </div>
                            <div class="tab-pane" id="tab7">
                                7
                            </div>
                            <ul class="pager wizard">
                                <li class="previous first" style="display:none;"><a href="#">First</a></li>
                                <li class="previous"><a href="#">Previous</a></li>
                                <li class="next last" style="display:none;"><a href="#">Last</a></li>
                                <li class="next"><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>


            </div>
            
       
    <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
            <input type="submit" value="Save" class="btn btn-primary " />
        </div>
    </div>
            

        }
 

    @section Scripts {
        @Scripts.Render("~/bundles/bootstrapWizard")
        @Scripts.Render("~/bundles/datetime")   @* for our datetime Picker*@
    }


