@model Metope.DAL.Security_Attribution_History
 
<h3>
    Create new Security Attribution History for Portfolio <b> @ViewBag.Portfolio </b>
</h3> 
@section Styles {
    @Styles.Render("~/Content/datetime")
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(false)
        @Html.ValidationMessage("Error")
        @Html.HiddenFor(model => model.Entity_ID)
        @Html.HiddenFor(model => model.Portfolio_Code)

      `<input type="hidden" id="navIndicator" name="navIndicator" value=@ViewBag.Nav />

        <div class="form-group">
            <div>
                @Html.EditorFor(model => model.Record_Date, "BootstrapEditDateVertic")
            </div>
        </div>

        @Html.EditorForModel()

    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datetime")
} 