@model Metope.DAL.Security_Dividend_Split

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Dividend Split</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h3> for Ticker <b> @Model.Security_Detail.Ticker</b> dividend number <b>  @Model.Dividend_Annual_Number</b></h3>
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Entity_ID)
        @Html.HiddenFor(model => model.Security_ID)
        @Html.HiddenFor(model => model.Dividend_Annual_Number)

        @Html.EditorFor(model => model.Dividend_Split, "BootstrapEditDecimal8PlacesVertic")


   
         
        @Html.Partial("_SaveButtonShow", Model)
    </div>
}

<div> 
    @Html.ActionLink("Back to List", "Index", new { SecurityId = Model.Security_ID }, null)


</div>
