@model IEnumerable<Metope.DAL.Security_Dividend_Split>

@{
    ViewBag.Title = "Index";
} 
<h2>Security Dividend Splits</h2>
@Html.Partial("_MsgSuccesFail", Model)
<p>
    @Html.ActionLink("Create New", "Create")
    @*<button type="button" id="createNew" class="btn btn-secondary btn-sm">Create New</button>*@
</p> 

 <div>  
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
 </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dividend_Split)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Security_Detail.Short_Name)
            </th>
            <th>@Html.DisplayNameFor(model => model.Dividend_Annual_Number)</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dividend_Split)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Security_Detail.Short_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dividend_Annual_Number)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { EntityId = item.Entity_ID, securityID = item.Security_ID, dividendAnnNumber = item.Dividend_Annual_Number }) |
                    @Html.ActionLink("Details", "Details", new { EntityId = item.Entity_ID, securityID = item.Security_ID, dividendAnnNumber = item.Dividend_Annual_Number }) |
                    @Html.ActionLink("Delete", "Delete", new { EntityId = item.Entity_ID, securityID = item.Security_ID, dividendAnnNumber = item.Dividend_Annual_Number })
                </td>
            </tr>
        } 
    </table>
