@model MetopeMVCApp.Models.Security_Detail

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Security_Detail</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Entity_ID, "Entity_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Entity_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.Entity_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Security_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Security_Name)
                @Html.ValidationMessageFor(model => model.Security_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Short_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Short_Name)
                @Html.ValidationMessageFor(model => model.Short_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Primary_Exch, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Primary_Exch)
                @Html.ValidationMessageFor(model => model.Primary_Exch)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Secondary_Exch, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Secondary_Exch)
                @Html.ValidationMessageFor(model => model.Secondary_Exch)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Country_Of_Domicile, "Country_Of_Domicile", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Country_Of_Domicile", String.Empty)
                @Html.ValidationMessageFor(model => model.Country_Of_Domicile)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Country_Of_Risk, "Country_Of_Risk", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Country_Of_Risk", String.Empty)
                @Html.ValidationMessageFor(model => model.Country_Of_Risk)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Security_Type_Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Security_Type_Code)
                @Html.ValidationMessageFor(model => model.Security_Type_Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price_Multiplier, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price_Multiplier)
                @Html.ValidationMessageFor(model => model.Price_Multiplier)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Income_Frequency, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Income_Frequency)
                @Html.ValidationMessageFor(model => model.Income_Frequency)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Issuer_Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Issuer_Code)
                @Html.ValidationMessageFor(model => model.Issuer_Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ultimate_Issuer_Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ultimate_Issuer_Code)
                @Html.ValidationMessageFor(model => model.Ultimate_Issuer_Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Asset_Currency, "Asset_Currency", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Asset_Currency", String.Empty)
                @Html.ValidationMessageFor(model => model.Asset_Currency)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Min_Lot_Size, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Min_Lot_Size)
                @Html.ValidationMessageFor(model => model.Min_Lot_Size)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Benchmark, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Benchmark)
                @Html.ValidationMessageFor(model => model.Benchmark)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Decimal_Precision, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Decimal_Precision)
                @Html.ValidationMessageFor(model => model.Decimal_Precision)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AvePrice_Rounding, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AvePrice_Rounding)
                @Html.ValidationMessageFor(model => model.AvePrice_Rounding)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Issue_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Issue_Date)
                @Html.ValidationMessageFor(model => model.Issue_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Maturity_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Maturity_Date)
                @Html.ValidationMessageFor(model => model.Maturity_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Coupon_Rate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Coupon_Rate)
                @Html.ValidationMessageFor(model => model.Coupon_Rate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price_Exchange, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price_Exchange)
                @Html.ValidationMessageFor(model => model.Price_Exchange)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Trade_Currency, "Trade_Currency", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Trade_Currency", String.Empty)
                @Html.ValidationMessageFor(model => model.Trade_Currency)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price_Curr, "Price_Curr", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Price_Curr", String.Empty)
                @Html.ValidationMessageFor(model => model.Price_Curr)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Currency_Pair_Code, "Currency_Pair_Code", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Currency_Pair_Code", String.Empty)
                @Html.ValidationMessageFor(model => model.Currency_Pair_Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Share_Class, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Share_Class)
                @Html.ValidationMessageFor(model => model.Share_Class)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Current_Market_Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Current_Market_Price)
                @Html.ValidationMessageFor(model => model.Current_Market_Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Index_Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Index_Type)
                @Html.ValidationMessageFor(model => model.Index_Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Clean_Price_Formula, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Clean_Price_Formula)
                @Html.ValidationMessageFor(model => model.Clean_Price_Formula)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Accrued_Income_Price_Formula, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Accrued_Income_Price_Formula)
                @Html.ValidationMessageFor(model => model.Accrued_Income_Price_Formula)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Odd_First_Coupon_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Odd_First_Coupon_Date)
                @Html.ValidationMessageFor(model => model.Odd_First_Coupon_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Odd_Last_Coupon_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Odd_Last_Coupon_Date)
                @Html.ValidationMessageFor(model => model.Odd_Last_Coupon_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Coupon_Anniversary_Indicator, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Coupon_Anniversary_Indicator)
                @Html.ValidationMessageFor(model => model.Coupon_Anniversary_Indicator)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Track_EOM_Flag, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Track_EOM_Flag)
                @Html.ValidationMessageFor(model => model.Track_EOM_Flag)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Next_Coupon_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Next_Coupon_Date)
                @Html.ValidationMessageFor(model => model.Next_Coupon_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Previous_Coupon_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Previous_Coupon_Date)
                @Html.ValidationMessageFor(model => model.Previous_Coupon_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Payment_Frequency, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Payment_Frequency)
                @Html.ValidationMessageFor(model => model.Payment_Frequency)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Coupon_BusDay_Adjustment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Coupon_BusDay_Adjustment)
                @Html.ValidationMessageFor(model => model.Coupon_BusDay_Adjustment)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Next_Ex_Div_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Next_Ex_Div_Date)
                @Html.ValidationMessageFor(model => model.Next_Ex_Div_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ex_Div_BusDay_Adjustment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ex_Div_BusDay_Adjustment)
                @Html.ValidationMessageFor(model => model.Ex_Div_BusDay_Adjustment)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ex_Div_Period, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ex_Div_Period)
                @Html.ValidationMessageFor(model => model.Ex_Div_Period)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ticker, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ticker)
                @Html.ValidationMessageFor(model => model.Ticker)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inet_ID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inet_ID)
                @Html.ValidationMessageFor(model => model.Inet_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bloomberg_ID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bloomberg_ID)
                @Html.ValidationMessageFor(model => model.Bloomberg_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.External_Sec_ID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.External_Sec_ID)
                @Html.ValidationMessageFor(model => model.External_Sec_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Reuters_ID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Reuters_ID)
                @Html.ValidationMessageFor(model => model.Reuters_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ISIN, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ISIN)
                @Html.ValidationMessageFor(model => model.ISIN)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Call_Account_Flag, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Call_Account_Flag)
                @Html.ValidationMessageFor(model => model.Call_Account_Flag)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.System_Locked, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.System_Locked)
                @Html.ValidationMessageFor(model => model.System_Locked)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Last_Update_User, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Last_Update_User)
                @Html.ValidationMessageFor(model => model.Last_Update_User)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Last_Update_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Last_Update_Date)
                @Html.ValidationMessageFor(model => model.Last_Update_Date)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
