@model MetopeMVCApp.Models.Security_Detail

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Security_Detail</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Security_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Entity_ID, "Entity_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Entity_ID", null, string.Empty, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Entity_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Security_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Security_Name, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Security_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Short_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Short_Name, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Short_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Primary_Exch, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Primary_Exch, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Primary_Exch)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Secondary_Exch, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Secondary_Exch, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Secondary_Exch)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Country_Of_Domicile, "Country_Of_Domicile", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Country_Of_Domicile", null, string.Empty, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Country_Of_Domicile)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Country_Of_Risk, "Country_Of_Risk", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Country_Of_Risk", null, string.Empty, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Country_Of_Risk)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Security_Type_Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Security_Type_Code, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Security_Type_Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price_Multiplier, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Price_Multiplier, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Price_Multiplier)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Income_Frequency, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Income_Frequency, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Income_Frequency)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Issuer_Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Issuer_Code, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Issuer_Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ultimate_Issuer_Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Ultimate_Issuer_Code, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Ultimate_Issuer_Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Asset_Currency, "Asset_Currency", new { @class = "control-label col-md-2" })
            <div class="col-md-10"> 
                @Html.DropDownList("Asset_Currency", null, string.Empty, new { @class = "form-control input-sm" })


                @Html.ValidationMessageFor(model => model.Asset_Currency)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Min_Lot_Size, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Min_Lot_Size, new { @class = "form-control input-sm" }) 


                @Html.ValidationMessageFor(model => model.Min_Lot_Size)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Benchmark_Portfolio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Benchmark_Portfolio, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Benchmark_Portfolio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Decimal_Precision, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Decimal_Precision, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Decimal_Precision)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AvePrice_Rounding, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.AvePrice_Rounding, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.AvePrice_Rounding)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Issue_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Issue_Date, new { htmlAttributes = new { @class = "form-control  input-sm" } })

                @Html.ValidationMessageFor(model => model.Issue_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Maturity_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Maturity_Date, new { htmlAttributes = new { @class = "form-control  input-sm" } })
                 
                @Html.ValidationMessageFor(model => model.Maturity_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Coupon_Rate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Coupon_Rate, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Coupon_Rate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price_Exchange, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Price_Exchange, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Price_Exchange)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Trade_Currency, "Trade_Currency", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Trade_Currency", null, string.Empty, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Trade_Currency)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price_Curr, "Price_Curr", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Price_Curr", null, string.Empty, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Price_Curr)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Currency_Pair_Code, "Currency_Pair_Code", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Currency_Pair_Code", null, string.Empty, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Currency_Pair_Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Share_Class, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Share_Class, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Share_Class)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Current_Market_Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Current_Market_Price, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Current_Market_Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Index_Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Index_Type, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Index_Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Clean_Price_Formula, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Clean_Price_Formula, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Clean_Price_Formula)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Accrued_Income_Price_Formula, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Accrued_Income_Price_Formula, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Accrued_Income_Price_Formula)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Odd_First_Coupon_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Odd_First_Coupon_Date, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Odd_First_Coupon_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Odd_Last_Coupon_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Odd_Last_Coupon_Date, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Odd_Last_Coupon_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Coupon_Anniversary_Indicator, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Coupon_Anniversary_Indicator, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Coupon_Anniversary_Indicator)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Track_EOM_Flag, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Track_EOM_Flag, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Track_EOM_Flag)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Next_Coupon_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Next_Coupon_Date, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Next_Coupon_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Previous_Coupon_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Previous_Coupon_Date, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Previous_Coupon_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Payment_Frequency, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Payment_Frequency, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Payment_Frequency)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Coupon_BusDay_Adjustment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Coupon_BusDay_Adjustment, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Coupon_BusDay_Adjustment)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Next_Ex_Div_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Next_Ex_Div_Date, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Next_Ex_Div_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ex_Div_BusDay_Adjustment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Ex_Div_BusDay_Adjustment, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Ex_Div_BusDay_Adjustment)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ex_Div_Period, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Ex_Div_Period, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Ex_Div_Period)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ticker, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Ticker)
                @Html.ValidationMessageFor(model => model.Ticker)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inet_ID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Inet_ID, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Inet_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bloomberg_ID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Bloomberg_ID, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Bloomberg_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.External_Sec_ID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.External_Sec_ID, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.External_Sec_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Reuters_ID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Reuters_ID, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Reuters_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ISIN, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ISIN, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.ISIN)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Call_Account_Flag, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Call_Account_Flag, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Call_Account_Flag)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.System_Locked, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.System_Locked, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.System_Locked)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Last_Update_User, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Last_Update_User, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Last_Update_User)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Last_Update_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Last_Update_Date, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Last_Update_Date)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
