    @model IEnumerable<Metope.DAL.Party_Debt_Analysis>
@using GridMvc.Html
@{
    ViewBag.Title = "PartyDebtAnalysis";  
    List<string> _sizes = new List<string>() { "10", "20", "50", "100" }; 
}

@section Styles {
    @Styles.Render("~/Content/GridMvc")
    @Styles.Render("~/Content/datetime")
    <link href="~/Content/cssNoLines.css" rel="stylesheet" />
}
  @helper CustomRenderingOfColumn(Metope.DAL.Party_Debt_Analysis pd)
{
    if (pd.Financials_Type == "I")
    {
        <text>Interim</text>
    }
    else
    {
        <text>Final</text>
    }
} 
<h2>Party Debt Analysis 
    @if (ViewBag.PartyCode != null)
    {
        @: (for party code @ViewBag.PartyCode  )
    }
</h2> 
<p>
    @Html.ActionLink("Create New", "Create", new { Nav = @ViewBag.Nav }, null)
</p>
@Html.Partial("_MsgSuccesFail", Model) 

<div class="code-cut">
    @Html.Grid(Model).Named("pdaGrid").Columns(columns =>
    {
        columns.Add(c => c.Party_Code)
            .Titled("Party").Filterable(true)
            .SetWidth(100);
        
        columns.Add(c => c.Entity_ID, true);

        //hides column, but use this in js: 
        columns.Add(c => c.Financials_Type,true) ;
        
        //show the Financial Type:
        columns.Add()
            .Titled("Financial Type").RenderValueAs(o => CustomRenderingOfColumn(o))
            .SetWidth(330);
         
        columns.Add(c => c.Financials_Date).Titled("Financials Date").Filterable(true).SetWidth(150).Format("{0:dd MMM yyyy}");
        
        columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(20)
        .RenderValueAs(c => @<u>
            @Html.ActionLink("Edit", "Edit", "PartyDebtAnalysis", new { EntityId = c.Entity_ID, PartyCode = c.Party_Code, FinType = c.Financials_Type, Nav = @ViewBag.Nav }, null) 
        </u>);
        columns.Add()
     .Encoded(false)
     .Sanitized(false)
     .SetWidth(20)
     .RenderValueAs(c => @<u>
        @Html.ActionLink("Delete", "Delete", "PartyDebtAnalysis", new { EntityId = c.Entity_ID, PartyCode = c.Party_Code, FinType = c.Financials_Type, Nav = @ViewBag.Nav }, null)
    </u>);
          

    }).WithPaging(15).Sortable(true)

</div>
<div>
    @if (ViewBag.PartyCode != null)
    {
        <br />
        @Html.ActionLink("Back to Parties", "Index", "Party") 
    }
</div>

@section Scripts { @Scripts.Render("~/bundles/datetime")
    @Scripts.Render("~/bundles/GridMvc")  
<script>

    $(function () {
        pageGrids.pdaGrid.onRowSelect(function (e) {
            //here rather do full page load instead of the Ajax partial:   
            var myUrl2; 
            if ("@ViewBag.Nav" != "")
                myUrl2 = mtpApp.Urls.baseUrl + "PartyDebtAnalysis/Edit?PartyCode=" + e.row.Party_Code + "&FinType=" + e.row.Financials_Type + "&EntityId=" + e.row.Entity_ID + "&Nav=" + "@ViewBag.Nav";
            else
                myUrl2 = mtpApp.Urls.baseUrl + "PartyDebtAnalysis/Edit?PartyCode=" + e.row.Party_Code + "&FinType=" + e.row.Financials_Type + "&EntityId=" + e.row.Entity_ID;
             
            window.location = myUrl2;
        }); 
        //not using this Ajax call anymore, rather server call to keep all consistent
        $( "#createNew" ).click(function() {
            event.preventDefault(); // To prevent following the link (optional)
            var myUrl = '@Url.Action("Create", "Party")';
             
            $.ajax({
                method: 'GET',
                url: myUrl,
                data: {},
                success: function (data) {
                    $('#order-content').html(data);
                },
                dataType: 'html',
                error: function (request, error) {
                    alert(request.status);
                    if (request.status == 522) window.location.href = request.statusText;
                },
                async:true
            });
        });


    });
</script>  

}